@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row w-100">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
                        <h2 class="h4 text-center mb-3">Kreirajte novi račun.</h2>
                        <hr class="mb-4" />
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="ime@primjer.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Ime" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="Marko" />
                            <label asp-for="Input.Ime">Ime</label>
                            <span asp-validation-for="Input.Ime" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Prezime" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="Horvat" />
                            <label asp-for="Input.Prezime">Prezime</label>
                            <span asp-validation-for="Input.Prezime" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Adresa" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="Glavna ulica 123" />
                            <label asp-for="Input.Adresa">Adresa</label>
                            <span asp-validation-for="Input.Adresa" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.BrojTelefona" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="061-123-456" />
                            <label asp-for="Input.BrojTelefona">Broj telefona</label>
                            <span asp-validation-for="Input.BrojTelefona" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.KurirskaSluzba" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" placeholder="Brza dostava" />
                            <label asp-for="Input.KurirskaSluzba">Kurirska služba (opcionalno)</label>
                            <span asp-validation-for="Input.KurirskaSluzba" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="lozinka" />
                            <label asp-for="Input.Password">Lozinka</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" aria-required="true" placeholder="potvrdi lozinku" />
                            <label asp-for="Input.ConfirmPassword">Potvrdi lozinku</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Registruj se</button>
                    </form>

                    <hr class="my-4" />


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}