@{ 
    ViewData["Title"] = "Cazin";
}

<style>
    body {  
        font-family: 'Segoe UI', sans-serif;
        text-align: center;
    }

    h1 {
        font-size: 5rem;
        margin-bottom: 0.5rem;
    }

    .subtext {
        font-size: 1.25rem;
        color: #232323;
    }
    .subsubtext {
        font-size: 1rem;
        margin-bottom: 2rem;
        color: #454545;
    }

    .emoji {
        margin-top: 50px;
        font-size: 4rem;
        animation: float 3s ease-in-out infinite;
    }

    

    .btn-home {
        background-color: #1a73e8;
        border: none;
        color: white;
        padding: 12px 25px;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn-home:hover {
        background-color: #0c59c3;
    }
</style>

<div class="emoji">
    <img width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNmcjL9ie3bW5y8raigk53Pd11K852rLeXhg&s"/>
</div>
<h1>404</h1>
<p class="subtext">Zalutali ste u Cazin i našli ste Amku</p>
<p class="subsubtext">(Ruta kojoj pokušavate pristupiti ne postoji)</p>
<a href="/" class="btn-home">Bježi iz Cazina (Početna)</a>